.modesList {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0;
}

.modesWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
}
.modesWrapper form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px;
}
.modesWrapper form input {
  margin: 5px;
}
